#app .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  color: #484848;
}

#app .tagline {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #484848;
}

.navbar-light .navbar-brand {
  color: #FF5A5F;
  font-size: 2.5rem;
}

.navbar-light .navbar-brand:focus {
  color: #FF5A5F;
}

.navbar-light .navbar-brand:hover {
  color: #FF5A5F;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.page-add {
  padding-left: 10px;
  padding-right: 10px;
}

#app .under-nav {
  margin-top: 78px;
  color: #484848;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 30px;
  text-align: center;
  display: block;
  position: relative;
  text-transform: capitalize;
}

.collapse.navbar-collapse button {
  background-color: #1a6f77;
  border: none;
}

.collapse.navbar-collapse button:hover {
  cursor: pointer;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.page-add .btn.btn-primary, .under-nav .btn.btn-primary {
  background-color: white;
  border-color: rgba(0,0,0,0.1);
  /*background-color: #12273c;
  border-color: #12273c;*/
  color: #484848;
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
}

.under-nav .cat-button {
  border: none;
  border-bottom: 2px solid;
  background-color: white;
  border-color: white;
  color: #484848;
  font-size: 18px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 3px;
}

.under-nav .cat-button:hover {
  text-decoration: none;
}

.search-form {
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.06);
}

.page-add .btn.btn-primary:hover{
  color: black;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.06);
}

.saved-item {
  margin: 10px auto;
  margin-bottom: 70px;
  max-width: 500px;
  position: relative;
  transition: bottom .6s;
}

.saved-item .item:hover {
  bottom: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.saved-item .item {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fafafa;
  border-radius: 5px;
  margin: 8px;
  padding: 15px;
  color: #484848;
  font-size: 20px;
  text-align: left;
  display: block;
  position: relative;
}

.saved-item .material-icons.delete {
  font-size: 35px;
  position: absolute;
  right: 10px;
  top: 3%;
  color: #484848;
  transition: font-size 0.2s ease;
}

.saved-item .material-icons.delete:hover {
  color: black;
  font-size: 40px;
  cursor: pointer;
}

.saved-item .material-icons.edit {
  font-size: 28px;
  position: absolute;
  right: 45px;
  top: 3%;
  color: #484848;
  transition: font-size 0.2s ease;
}

.saved-item .material-icons.edit:hover {
  color: black;
  font-size: 33px;
  cursor: pointer;
}

.nav-link.logout-button{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-link {
  float: right;
  cursor: pointer;
}

.nav-link.user{
  cursor: default;
  color: black;
}

.saved-item .item .external {
  // border: 1px solid black;
  color: #545454;
  background-color: white;
  border-radius: 5px;
  margin: 20px 5px 5px 5px;
  padding: 15px;
  font-size: 10px;
  text-align: left;
  overflow: auto;
  display:flex;
  justify-content:space-between;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.saved-item .item .external img {
  max-width:125px;
  max-height:125px;
  width: auto;
  height: auto;
  position: relative;
  margin-right: 5px;
}

.saved-item .item .external .header {
  overflow: auto;
}

.saved-item .item .external .source {
  color: rgba(0,0,0,.54);
  text-align: right;
  width: 100%;
  margin: 0;
}

.saved-item .item .external .title {
  float: left;
  text-align: right;
}

.saved-item .item .external .group {
  float: right;
}

// Edit popup modal
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 200px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  position: relative;
  // transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .material-icons {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #484848;
  transition: font-size 0.2s ease;
}
.popup .material-icons:hover {
  color: black;
  font-size: 35px;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup h4 {
  color: #484848;
  margin-bottom: 20px;
}

.popup label {
  padding-left: 15px;
}

.popup button {
  background-color: #FF5A5F;
  cursor: pointer;
  border: 1px solid #FF5A5F;
  color: white;
  border-radius: 5px;
  float: right;
  padding: 3px 15px; 
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}